.cart{
    position: absolute;
    top: 2.5rem;
    right:5rem;
}
.cart img{
    width:4rem;
}

@media only screen and (min-width:680px){
    .cart{
        position: absolute;
        top: 2.5rem;
        right:8.5rem;
    }
}

@media only screen and (min-width:992px){
    .cart{
        position: unset;
        margin-right: 4rem;
        margin-left: 7rem;
    }   
}