.cardCont{
    margin: 1.5rem;
}
.imgContainer{
    display: flex;
    align-items: center;
}
.productTitle{
    font-size: 1.2rem;
}
.productPrice{
    font-size: 1.2rem;
    font-weight: bold;
}
.productBody{
    padding-left: 1rem;
}
.buttonContainer{
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.cartButton{
    padding: 0.5rem;
    font-size: 1.2rem;
    background-color: rgb(255, 176, 149);
    border-radius: 0.3rem;
}

@media only screen and (min-width:680px){
    .cardCont{
        margin:auto;
        margin-top: 3rem;
    }
}