.form{
    margin: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputContainer{
    width: 65%;
}
.formButton{
    background-color: rgb(253, 184, 161);
    border: 1px solid darksalmon;
    color: black;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    border-radius: 0.3rem;
}

@media only screen and (min-width:680px){
    .inputContainer{
        width: 40%;
    }
}

@media only screen and (min-width:992px){
    .inputContainer{
        width: 30%;
    }
}