.imageContainer{
    height: 16rem;
    display: flex;
    align-items: center;
}
.imageContainer img{
    max-width: 25rem;
    width: 100%;
}
.cardBody{
    height:7rem;
    margin-top: 0.8rem;
}
.cardContainer{
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.itemPrice{
    font-weight: bold;
}