body {
    background-color: rgb(247, 244, 240);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
h1{
    color: darksalmon;
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.textCenter{
    text-align: center;
}
.d-flex{
    display: flex;
}
.btn-secondary{
    background-color: rgb(167, 167, 167);
}
.justify-content-center{
    justify-content: center;
}
#header404 h1{
    font-size:3rem;
    margin-top: 2rem;
}
#header404 p{
    font-size: 1.5rem;
    font-weight:bold;
}
#button404 a{
    text-decoration: none;
    font-weight: bold;
    color:black;
}
#container{
    margin-bottom: 2rem;
}
.dog-head {
  z-index: 100;
  animation-name: head-move;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

div.dog-body {
  height: 300px;
  width: 225px;
  margin-top: -175px;
  margin-left: 40px;
  background-image: url('http://www.clker.com/cliparts/T/0/9/J/e/4/dog-body-md.png');
  background-repeat: no-repeat;
}

@keyframes head-move {
    50% { 
      transform: rotate(-3deg); 
    }
  }