@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(247, 244, 240);
    font-family: 'Roboto', sans-serif;
}

/*NavBar*/
nav{
    width: 100%;
}
.logo{
    width: 100%;
    max-width: 7rem;
    margin-left: 0.5rem;
}
.navButton{
    position: absolute;
    top: 3.2rem;
    right:0.5rem;
}
.navbar-nav li{
    font-size: 1.2rem;
}
.nav-link{
    font-weight: bold;
}
#navList1, #navList2, #navList3, #navList4, #navList5{
    color: darksalmon;
}
.navbar-collapse{
    margin-left: 1rem;
}

/*Home video*/
.headerHome{
    display:flex;
    justify-content: center;
    padding-top: 2rem;
}
.headerHome__video{
    width: 25rem;
}
.borderRadius{
    border-radius: 0.3rem;
}

@media only screen and (min-width:680px){
    .logo{
        margin-left: 4rem;
    }
    .navbar-collapse{
        margin-left: 4rem;
    }
    .headerHome__video{
        width: 40rem;
    }
    .navButton{
        position: absolute;
        top: 3.2rem;
        right:4rem;
    }
    .navbar-nav li{
        font-size: 1.5rem;
    }
}

@media only screen and (min-width:992px){
    .subrayado{
        background:linear-gradient(darksalmon,darksalmon);
        background-size: 0% 2px;
        background-repeat: no-repeat;
        background-position: bottom;
        transition: background-size .2s;
    }
    .subrayado:hover{
        background-size: 100% 2px;
    }
    .navbar-nav{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .navbar-nav li{
        margin-right: 1rem;
        margin-right: 1rem;
    }
    .headerHome__video{
        width: 65rem;
    }
}